body {
  margin: 0;
  height: 100%;
  background-image: url(/img/22132.png);
}

h1{
  text-align: center;
  text-decoration:underline;
  padding-top: 1%;
  color:aliceblue;
}

h2{
  color: aliceblue;
  padding-left: 3%;
}
.contenedor{
  margin: 10px;
  padding-left: 40%;
}

ul {
  list-style: none;
  margin: auto;
  padding: 15px;
  width: 25%;
  height: 70%;
  background-color:burlywood;
  position: fixed;
  overflow: auto;
  border: 3px solid black;
  border-radius: 15px;
}
li {
  text-align: center;
  border: 1px solid #555;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.activo {
  background-color: green;
  color: white;
}

li a:hover:not(.activo) {
  background-color: #555;
  color: white;
}
